
table.hotbuttons {
   border: 0px solid #ffffff;
   border-spacing: 3px;
   border-collapse: separate;
}

a.hotbuttons, td.hotbuttons {
   padding: 4px 6px;
   background-image: url('/prod/images/flamebg.gif');
   background-position: bottom;
   background-repeat: repeat-x;
   text-align: center;
}

a.hotbuttons, td.hotbuttons a {
   text-decoration: none;
   font-family: Arial, Helvetica;
   font-size: 17px;
   font-weight: bold;
   white-space: nowrap;
   color: #ffff99;
}

a.hotbuttons:visited, td.hotbuttons a:visited {
   color: #ffff99;
}

a.hotbuttons:hover, td.hotbuttons a:hover {
   color: #ffff33;
}

table.thumbs col, div.thumbsup, div.thumbsdown {
   width: 40px;
   height: 40px;
   line-height: 40px;
   font-family: Trebuchet MS, Arial;
   font-weight: bold;
   color: #0000ff;
}

table.thumbs tr {
   vertical-align: center;
}

table.thumbs tr td {
   text-align: center;
   padding: 0 10px 0 0;
}

div.thumbsup {
   background-image: url('/prod/images/thumbsupbg.png');
}

div.thumbsdown {
   background-image: url('/prod/images/thumbsdownbg.png');
}

