.cyw_highlightFrame {
    z-index: 2147483646 !important;
    position: absolute !important;
    background-color: #3875d7 !important;
}

.cyw_infoSpan{
    z-index: 2147483646 !important;
    position: absolute !important;
    color: rgb(0, 0, 0) !important;
    background-color: rgb(223, 241, 255) !important;
    font-family:arial, sans-serif !important; 
    font-size:x-small !important; 
    padding:0px 2px 0px 2px !important;
    border: 1px solid black !important;
    -moz-border-radius:2px !important;
}

.cyw_sizeInfoSpan{
    z-index: 2147483647 !important;
    position: absolute !important;
    color: rgb(0, 0, 0) !important;
    background-color: rgb(223, 241, 255) !important;
    font-family:arial, sans-serif !important; 
    font-size:x-small !important; 
    padding:0px 2px 0px 2px !important;
    border: 1px solid black !important;
    -moz-border-radius:2px !important;
    display: none !important;
}

.cyw_resizeGrip{
    z-index: 2147483647 !important;
    position: absolute !important;
    width: 5px !important;
    height: 5px !important;
    border: 1px solid black !important;
    background-color: rgb(216, 216, 210) !important;
}